.headerholder{
    background-color: rgb(64, 109, 224);
    padding: 30px;
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
}
.firstheaderhalfholder{
    position: relative;
    display: inline-block;
    justify-content: space-between;
}
.firstheaderhalfholder div{
    margin: 0px 0px 0px 15px;
}
.DDButton1{
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    margin: 0px 0px 0px 15px;
  }
.dropdown1{
    position: relative;
    display: inline-block;
}
.DDB1content{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 107px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.DDB1content a {
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
  }
.DDB1content a:hover {
    background-color: #ddd;
}
.dropdown1:hover .DDB1content {
    display: block;
}
.dropdown1:hover .DDButton1 {
    background-color: #3e8e41;
}
.secondheaderhalfholder{
    background-color: rgb(30, 172, 211);
    padding: 25px;
}
.bodyholder{
    background: rgb(145, 103, 103);
    padding: 100px 50px 100px 50px;
}
.bodysectionholder{
    background-color: green;
    padding: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bodysection{
    background: red;
    padding: 175px 500px 175px 175px;
    margin: -100px;
}
.bodysection2{
    background-color: bisque;
    padding: 200px 125px 200px 125px;
    margin: -100px;
}
.secondbodyholder{
    background-color:lime;
    padding: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footersection{
    padding:20px;
    background-color: rgb(96, 45, 142);
}